button {
    background-color: red;
    margin: 96px;
    padding: 68px;
    font-size: 30px;
}
.tdn{
    text-decoration: none;
}
.rahim{
    font-size: 30px;
    color: red;
    margin: 50px;
    display: block;
    color:blue;
    background-color: black;
}