/* Typography  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.theme-color{
    color: rgb(120,85,255) !important;
    background-color: #f00 !important;
}

.fc{
    color:blue;
}
.bc{
    background-color: red;
}

/* ----------------
 Parent Css Start  
--------------------- */



.parent > .para1{
    font-size: 3rem;
}
.parent> p{
    color: salmon;
    background-color: red;
}

.parent .child-1> p{
    color: springgreen;
    background-color: blue;
}
.parent .child-1 .grand-child-1> p{
    color:red;
}

/* Parent Css End  */


/* Header Css Start  */
.header>P{
    color:violet;
}
.header .child-1> p{
    color:purple;
}
.header .child-1 .grand-child-1> p{
    color:blue;
}

/* Header Css End  */