/* Typography  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* ----------------
    header css
--------------------- */


.heroSection .hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}
.heroSection .hero .heroContent{
    position: absolute; top: 40%; left: 30%; color: white; 
}
.heroSection .hero .heroContent h2{
    padding: 20px 0px;
}

/* ----------------
    Meno css
--------------------- */
.header .menubar{
    position: sticky;
    position: -webkit-sticky;
    top: 10;
    display: flex;
    justify-content: space-between;
   
}

.header .menubar .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: red;
    height: 80px;

}

.header .menubar .menu li {
    display: inline-block;
    width: 230px;
    color: blue;
    padding: 20px 5px;
}

.header .menubar .menu li:hover {
    color: #fff;
}

.header .menubar .menu li:not(:last-child) {
    border-right: 2px solid #2c2f2c;
}

